{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <h1>Matches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ match.id }}</td>
            </tr>
            <tr>
                <th>Round_number</th>
                <td>{{ match.roundNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_matches_index') }}">back to list</a>

    <a href="{{ path('app_matches_edit', {'id': match.id}) }}">edit</a>

    {{ include('matches/_delete_form.html.twig') }}
{% endblock %}
